server:
  port: 8080
  address: 0.0.0.0
  servlet:
    session:
      timeout: 5m # 设置session的有效期为五分钟
  tomcat:
    basedir: /tmp/tomcat

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${database.name}?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
  main:
    allow-circular-references: true
  config:
    import: application-image-win.yml


database:
  name: urp

security:
  salt: tan-urp

jwt:
  key: Tan-SAI

file:
  upload:
#    meeting: /tmp/tan-urp/meeting/
    meeting: D:\tmp\tan-urp\meeting\

password:
  default:
    normal: 123456
    leader: tan2021
